a:link{color:blue}                                                   
a:visited{color:red}
a:hover{color:green}
a:active{color:purple}
.body{
  display: flex;
  flex-direction: column;            
}
.main{
  display: flex;
  flex-direction: column;            
}
.aside{
  display: flex;
  flex: 1;          
}
.article{
  display: flex;
  flex: 3;         
}
