a:link{color:blue}                                                   
a:visited{color:red}
a:hover{color:green}
a:active{color:purple}
.body{
  margin: 0 210px;
  height: 100px;
  background: pink;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  
}
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: auto;
}
.aside{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;          
}
.article{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 3;         
}
